.carousel-indicators{
 color:#000;
}
.CaptionNewProduct{
	background:#005;
	color:#FFF;
	padding:5px 10px;
	opacity:0.7;
	position:absolute;
	top:260px;
	width:360px;
}
.CaptionNewProduct a{
	color:#FFF;
	text-decoration:none;
}
.captionProduct a{
	color:#666;
	text-decoration:none;
	text-align:center;
	line-height:24px;
	font-size:18px;
}
.captionProduct a:hover{
	color:#39F;
}
.product{
	height:290px;
	overflow:hidden;
	line-height:14px;
}
.product img{
	margin-bottom:10px;
}
.product .b1 a{
	color:#333;
	text-decoration:none;
}
.product .b1 a:hover{
	color:#F00;
	text-decoration:none;
}
.container .categarory{
	margin:0;
	margin-bottom:25px;
	padding:8px;
	list-style:none;
	border:1px #ccc solid;
}
.container .categarory li{
	font-size:18px;
	border-bottom:1px #ccc solid;
	padding:5px;
}
.container .news{
	margin:0;
	padding:0;
	list-style:none;
	
}
.container .news li{
	font-size:18px;
	margin:0;
	padding:5px;
	padding-bottom:10px;
	border-bottom:1px #ccc dotted;
}
.container .news li p{
	color:#999;
	font-size:16px;
}
.container .news li a{
	text-decoration:none;
	color:#666;
}
.container .news li a:hover{
	color:#F00;
}
#header{
	font-size:26px;
}
.footer{
	background:orange;
	color:#fff;
	height:200px;
	padding-top:15px;
	margin-top:25px;
}
.footer a{
	color:#fff;
	text-decoration:none;
}